{% extends 'layout.html.twig' %}

{% block content %}
<h2>Genres</h2>

<ul>
{% for genre in genres %}
    <li><a href="{{ path('filmGenre',{id: genre.id}) }}">{{ genre.nom }} ({{ genre.nb_films}}) </a></li>
{% endfor %}
</ul>
{% endblock %}
